player-connection-mode=Listen
player-connection-guid=3146441751
player-connection-debug=0
player-connection-project-name=Endles Runner
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.4
profiler-enable=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
